<div class="home-container">
	<app-game-card
		gameCoverURL="/assets/49211372866_fb362c9ec1_b.jpg"
		gameLabel="Exclusive"
		gameType="Digital - PS4"
		gamePrice="R$ 249,99"
	></app-game-card>
	<app-game-card
		gameCoverURL="/assets/49211372866_fb362c9ec1_b.jpg"
		gameLabel="Exclusive"
		gameType="Digital - PS5"
		gamePrice="349,99"
		></app-game-card>
		<app-game-card
		gameCoverURL="/assets/49211372866_fb362c9ec1_b.jpg"
		gameLabel="Exclusive"
		gameType="Digital Deluxe - PS5"
		gamePrice="449,99"
		></app-game-card>
</div>
